// Esconder os botões Up/Down do campo numérico
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

page-pedido {
    .avatar-wrapper {
        position: relative;
        width: 200px;
        margin: auto;

        ion-avatar img {
            background-color: #DDDDDD;
            width: 200px;
            height: 200px;
            margin: auto;
        }
    }
    .item-dados {
        .item-preco {
            text-align: right;
        }
    }
}
