::-webkit-scrollbar {
    display:none;
}

myapp {

    .cabecalho-menu {
        background-image: url('../assets/imgs/menu-title.jpg');
        height: 200px;
        width: auto;
        margin-bottom: 10px;
    }

    .item-md.item-block .item-inner {
        border: none;
    }
}