.estoque {
    display: flex;
    flex-wrap: wrap;
}
.estoque-item {
    width: 50%;
}
.estoque-item ion-card {
    height: 175px;
}
.estoque-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.estoque-nome, .estoque-preco {
    padding-left: 10px;
}